USE [master]
GO
/****** Object:  Database [IBAN]    Script Date: 4/5/2022 11:09:34 μμ ******/
CREATE DATABASE [IBAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IBAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IBAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IBAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IBAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IBAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IBAN]
GO
/****** Object:  Table [dbo].[amount]    Script Date: 4/5/2022 11:09:35 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amount](
	[username] [varchar](10) NULL,
	[amount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/5/2022 11:09:35 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](10) NOT NULL,
	[password] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
